<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>featherbear.medialogstream</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/awong6/Documents/Projects/logStream/zig-out/bin/mediaLogStream</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/tmp/mediaLogStream.stderr.log</string>
    <key>StandardOutPath</key>
    <string>/tmp/mediaLogStream.stdout.log</string>
  </dict>
</plist>
